# Copia este archivo a .env para desarrollo local
PORT=3000
NODE_ENV=production
# Postgres local o la "External Database URL" de Render
DATABASE_URL=postgresql://marketico_user:aT4YuaOVRQAnMzcBLWjjF3BG66wIuz3C@dpg-daq9svou01pc73fd5vag-a/marketico

# Solo para conexiones remotas que requieran SSL (en producción es true por defecto)
# DATABASE_SSL=true
# Cadena larga y aleatoria (en Render se genera sola con render.yaml)
JWT_SECRET=d8911c8a95ca2952ae78231a5ef227f6a643350fd164a24cb5291e2f6b3214cc204dce4dc9af1d0a01c87c2f7a7343d6
# URL pública de tu app (sin "/" al final). Necesaria para el login con Google/Facebook
BASE_URL=https://marketicocr.onrender.com


# Login con Google (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Login con Facebook (https://developers.facebook.com/apps)
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
